/* Скрываем все картинки по умолчанию */
.mobile, .desktop {
  display: none;
  width: 100%;
  height: auto;
}

/* Десктопные картинки видны на больших экранах */
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}

/* Мобильные картинки видны на маленьких экранах */
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}

/* Отступы между блоками */
.block {
  margin-bottom: 20px;
}
