body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}

/* Плавающая верхняя плашка */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.topbar img {
  width: 100%;
  height: auto;
  display: block;
}

/* Контент отступает от плашки */
.blocks {
  margin-top: 120px; /* можно увеличить если плашка высокая */
}

/* Блоки */
.block img {
  width: 100%;
  height: auto;
  display: block;
}

/* ДЕСKTOP */
.desktop-version {
  display: block;
}

.mobile-version {
  display: none;
}

/* МОБИЛЬНАЯ ВЕРСИЯ */
@media (max-width: 768px) {

  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: block;
  }

  .topbar {
    height: auto;
  }
}
